$max-width: 400px;
.board {
  user-select: none;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    margin: 0;
  }
}

.debug {
  user-select: none;
  color: white;
}

.blank-placeholders {
  overflow: hidden;
}

.board-hover:hover {
  opacity: .9;
  cursor: pointer;
}
