$max-width: 400px;
.board {
  user-select: none;
  width: 100%;
  max-width: $max-width;
}

.debug {
  user-select: none;
  color: white;
}

.blank-placeholders {
  overflow: hidden;
}

.board-hover:hover {
  opacity: .9;
  cursor: pointer;
}
