.placed-shots {

  &--player {
    .placed-shots__shot {
      fill: black;
    }
  }

  &--computer {
    .placed-shots__shot {
      fill: gray;
    }
  }
}

.bombed-ship {

  &__cell {
    fill: transparent;
  }

  &--true {
    .bombed-ship__cell {
      stroke-width: 1;
      stroke: var(--button-primary-bgcolor);
    }
  }
}
