.player-board {
  .board-ship {
    fill: #fff;
  }

  .board-hover {
    cursor: default;
    &:hover {
      opacity: 1;
    }
  }

  &--disabled {
    .board {
      position: relative;

      &:before {
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(34, 40, 49, .5);
      }
    }
  }
}
