.setup-board {
  width: 100%;
}

.setup-wrapper {
  grid-area: player-board;
  text-align: center;

  @media only screen and (min-width: 768px) {
    text-align: left;
    padding-right: 130px;
  }
}
