.ship {
  width: 100%;
  border: 1px solid red;

  &--1 {
    max-width: $max-width / 11;
  }

  &--2 {
    max-width: $max-width / 11 * 2;
  }

  &--3 {
    max-width: $max-width / 11 * 3;
  }

  &--4 {
    max-width: $max-width / 11 * 4;
  }
}
