.ship-selector {
  grid-area: ship-selector;
  display: flex;
  align-items: flex-start;
  overflow: auto;
  height: 100%;
  flex-wrap: wrap;
}

.ship-template-row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: $max-width / 11;
  margin-right: $max-width / 11;
}
